---
# yaml-language-server: $schema=https://www.schemastore.org/yamllint.json
extends: "node_modules/yamllint-config-nick2bad4u/.yamllint"

ignore: |
    .cache/
    node_modules
    **/node_modules/*
    **/node_modules/**
    dist/
    coverage/
    build/
    release/
    .vscode/
    .idea/
    docs/Packages/**
    docs/docusaurus/docs/documents/docs/Packages/**
    **/.stryker-tmp/**
